.card {
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
    transition: all 0.2s linear;
}

.card img {
    width: 100%;
}

.card:hover {
    outline: 1px solid rgb(56 108 44);
    transform: scale(1.02);
}

.cardInfo {
    margin-bottom: 20px;
}

.cardInfo h4 {
    margin-bottom: 10px;
}

.button {
    width: 100%;
}
