.card {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
    transition: all 0.2s linear;
}

.card img {
    width: 100%;
}

.card:hover {
    outline: 1px solid rgb(56 108 44);
    transform: scale(1.02);
}

.cardInfo {
    margin-bottom: 20px;
}

.cardInfo h4 {
    margin-bottom: 10px;
}

.buttonsWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.button {
    width: 100%;
    border: 1px solid rgb(56 108 44);
    background: none;
    color: #000;
}

.button:hover {
    background: rgb(56 108 44);
    color: white;
}

.favoriteButton {
    border: none;
    background: inherit;
    cursor: pointer;
}

.favoriteButton svg {
    stroke: rgb(56 108 44);
}

.favoriteButton svg:hover {
    fill: rgb(56 108 44);
}

.favoriteButton:focus-visible {
    outline: none;
}
