.menuWrap {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    min-width: 400px;
    height: 100vh;
    padding: 40px 24px 0;
    margin: 0;
    background: rgb(240 240 240);
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    gap: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
}

.menuWrapShow {
    left: 0;
    visibility: visible;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    gap: 15px;
    transition: all 0.5s;
}
