.menuWrap {
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    min-width: 320px;
    height: 100vh;
    padding: 40px 24px 0;
    border-radius: 5px;
    margin: 0;
    background: rgb(255 255 255);
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 0.5s;
    visibility: hidden;
}

.menuWrapShow {
    left: 0;
    visibility: visible;
}

.menuLevel {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    gap: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.item .categoryButton {
    display: flex;
    align-items: center;
    gap: 10px;
}
