.header {
    display: flex;
    height: 100px;
    align-items: center;
    border-radius: 0 0 5px 5px;

    /* background: rgb(118 159 95); */
    background: rgb(51 56 49);
}

.container {
    display: flex;
    width: 1180px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;
    gap: 30px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuButton {
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgb(56 108 44);
    color: white;
    font-size: 18px;
    gap: 10px;
}

.searchBox {
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
}

.searchBox button,
.searchBox input {
    border-radius: 0;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

.iconsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
}
